@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200; 300; 400; 500; 600; 700; 800; 900&display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('images/image4.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 0 0 85% / 30%;
}
/*==================================================*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #def5de;
  color: white;
}
/*===================================================*/



.overlay{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;
    color: black;
    text-shadow: 1px 1px 1px #f1ecec;
    background-image: linear-gradient(135deg, #31fa3b 10%, #1505a76b 100% );
    border-radius: 0 0 85% / 30%;
}


h1{
    position: absolute;
    top: 150px;
    left: 170px;
}

.contacts{
    position: absolute;
    top: 180px;
    left: 170px;
    justify-content: center;
    text-align: justify;
    padding-right: 500px;
    font-size: large;
}

.socials{
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 280px;
    font-weight: bolder;
}

.socials > li{
    display: inline;
}

.socials > li >a:hover{
    background-color: turquoise;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/contact.jpg);
    background-size: cover;
    color: rgb(58, 250, 20);
    text-shadow: 1px 1px 1px #f1ecec;
}

.contact .content{

    max-width: 800px;
    text-align: center;
    color: white;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
}

.contact .content p{
    font-weight: 300;
    background-color: hsla(0, 2%, 20%, 0.5);
}

.container{
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-content: center; */
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    background-color: darkgray;
    color: black;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    font-weight: 300;
}

.container  .contactInfo    .box    .text h2{
    font-weight: 500;
    color: blue;
}

.container  .contactInfo    .box    .text p{
    font-weight: 500;
    color: blue;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: rgb(255, 255, 255, .5);
}

.contactForm h2{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textArea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    color: black;
    position: absolute;
    font-weight: 500;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    left: 0;
}

.contactForm .inputBox input:focus ~span,
.contactForm .inputBox input:valid ~span{
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: blue;
    padding: 10px;
    font-size: 16px;
}

@media(max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }

    .container.contactInfo
    {
        margin-bottom: 40px;
    }

    .container.contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}

/*===================training page================*/

.contains{
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
    align-items: center;
}
.myH2{
    background: #0062cc;
    color: black;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
    margin-top: 5%;
    margin-left: 10%;
}

/* .myH2::after{
    content: "";
    border-top: 40px solid #0062cc;
    border-right: 40px solid transparent;
    position: relative;
    left: 48px;
    top: 34px;
} */
.row{
    width: 100%;
}
img{
    width: 100%;
}

.product-bottom .fa{
    color: #978e0c;
    font-size: 12px;
}

.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}

.shiftRight{
    padding-left: 2%;
}

.overlays{
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-left: 0;
    width: 70px;
}

.product-top:hover .overlays{

    opacity: 0.8;
    margin-left: 1%;
    transition: 0.5s;
}

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 33px;
}

.bodyColor{
    background-color: rgba(151, 206, 243, 0.897);
}

.overlays .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35p;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
} 

.overlays .btn-secondary{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
/*===================training page================*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    bottom: 0;
    clear: both;
    position: absolute;
   
}